@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
.App {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

/* NavBar */
.navBar {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}
.logo {
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* Home */
.home {
  height: 50vh;
  background-image: url("assets/food.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeImages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: black;
  gap: 1rem;
  
}
.homeImages img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
/* Recipe List */
.recipeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  gap: 1rem;
  margin: 20px;
}

/* Favorite Item */
.favList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.favItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media screen and (max-width:600px) {
  .homeImages img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
}
@media screen and (max-width:320px) {
  .homeImages{
    display: flex;
  flex-direction: column;
  }}