@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
.App {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.navBar {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.navBarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Home */
.home {
  height: 50vh;
  background-image: url("assets/food.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeImages {
  display: flex;
  justify-content: space-between;
}
.homeImages img {
  width: 175px;
  border-radius: 50%;
}
/* Recipe List */
.recipeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  gap: 1rem;
  margin: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
